.buttons
  a.btn.btn-danger ng-click="$parent.senseCtrl.clearAndFocus()" {{ "simple_form.buttons.cancel" | translate }}
  button.btn.btn-success type="submit" {{ 'simple_form.buttons.save' | translate }}
  .clearfix
