# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e5b8cac502e3782b2dc46517de02ded4ea77e699a696554645e2225c8b512b94470dd0472c8ed0329b5721ee9bc56f3f691cb084e4c9db66967650d50932a395

test:
  secret_key_base: cf61c3e4c03a145b21bab28c9b599c8d8bd537e727cca49996d2c24cc2bd9fcda990170aaa1855ac9fa204d608265fedc973d583876953375c80ee7978605f49

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
