$sense-padding: 0 10px;
$sense-item-padding: 10px;
.sense-view {
  margin-top: $main_container_margin;
  margin-bottom: 15px;
  position: fixed;
  width: 40%;
  z-index: $zindex-navbar;
  .input-view {
    background: $input-bg;
    color: $input-color;
    height: $input-height-base;
    line-height: $input-height-base;
    padding: $sense-padding;

    .sense-icon {
      margin-right: 10px;
      margin-left: 5px;
      cursor: pointer;
    }

    input[type="text"] {
      margin: 0px;
      padding: 0px;
      width: 80%;
    }
  }

  .results-view {
    form {
      .inputs {
        padding: 30px 20px;

        & > .form-group:first-child {
          margin-top: 1.5em;
        }

        .help-block-error {
          color: $state-danger-bg;
          margin-bottom: 0px;
        }

        .help-block {
          color: #666;
          font-style: italic;
          margin-bottom: 0px;
        }
      }

      .buttons input, .buttons button, .buttons a {
        width: 50%;
        float: left;
        display: block;
      }
    }

    .result-group {
      margin-top: 10px;
      background: $input-bg;

      color: $input-color;
      width: 100%;

      box-shadow: rgba(0,0,0,0.3) 0px 0px 10px;

      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        &.grid  > [class*="col-"] {
          padding:0;
          a {
            border-bottom: 0px;
            text-align: center;
            i {
              margin: 10px 0px;
              padding: 0px;
              display: block;
              font-size: 24px;
            }
            border-right: 1px solid #ddd;
          }

          &:last-child a {
            border-right: 0px;
          }
        }

        li {
          &.loading {
            padding: $sense-item-padding;
          }

          &.selected a {
            background: lighten($brand-primary, 50%);

          }

          a {
            cursor: pointer;
            color: $input-color;
            padding: $sense-item-padding;
            display: block;
            border-bottom: 1px solid #ddd;

            span {
              margin-left: 5px;
              color: $info-color;
            }

            .action-icon {
              margin-right: 10px;
              margin-left: 5px;
              min-width: 15px;
              text-align: center;
            }

            &:hover, &.active {
              text-decoration: none;
              color: $navbar-inverse-color;
              background: $brand-primary;
              span {
                color: $navbar-inverse-color;
              }
            }
          }

          &:last-child a {
            border-bottom: 0px;
          }
        }
      }
    }


  }
}
