/*
 *= require_self
 *= require_tree ./libs
*/

@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch";
@import "utils";

$nprogress-color: #f1f1f1;
$nprogress-height: 10px;
$nprogress-zindex: 10100;

@import 'nprogress';
@import 'nprogress-bootstrap';

@import "layout/container";
@import "layout/toolbar";
@import "layout/sense_view";
@import "layout/body";
